{% block head %}
    <title>Foodfy - Criando nova receita</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
{% endblock %}

{% block content %}

<header>
    <div class="container-logo2">
        <img src="/imagens/logo2.png" alt="Logo">
    </div>    
</header>


{% endblock %}

<section>
    <form action="" method="POST">
        <div class="create-recipe">
            <h2>Criando Receita</h2>
            <button type="submit">Salvar receita</button>

            <h4>Imagem da Receita</h4>
            <input type="text" />

            <h4>Ingredientes</h4>
            <input type="text" /><br>
            <a href="#"><strong>Adicionar novo ingrediente</strong></a>

            <h4>Modo de preparo</h4>
            <input type="text" /><br>
            <a href="#"><strong>Adicionar novo passo</strong></a>

            <h4>Informações adicionais</h4>
            <input type="text" /><br>

        </div>
    </form>
</section>


