{% block head %}
    <title>Foodfy - Criando nova receita</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
{% endblock %}

{% block content %}

<header>
    <div class="container-logo2">
        <img src="/imagens/logo2.png" alt="Logo">
    </div>    
</header>   

<section>
    <div class="EDIT-recipe">
        <h2>Editando receita</h2>

        <form action="/admin/recipes?_method=DELETE" method="POST" >
            <input type="hidden" name="id" value='{{recipe.id}}'>
            <button type="submit" class="btn-del">Deletar</button>
        </form>
        
        <form action="/admin/recipes?_method=PUT" method="POST" >
            <button type="submit"class="btn-save">Salvar receita</button>
            <h4>Imagem da Receita</h4>
            <input type="text" value="{{ recipe.image }}" style="font-family: Roboto; font-size: 16px;" />

            <h4>Ingredientes</h4>
            <div id="ingredients">
                <div class="ingredient">
                    {% for i in recipe.ingredients %}
                    <input type="text" name="ingredients[]" value="{{i}}"style="font-family: Roboto; font-size: 16px;"/>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="add-ingredient cursor" onclick="addIngredient()">Adicionar novo ingrediente</button>

            <div id="passos">
                <div class="passo">
                    {% for i in recipe.preparation %}
                    <input type="text" name="preparation[]" class="edit-input" value="{{i}}" style="font-family: Roboto; font-size: 16px;"/><br>
                    {% endfor %}
                </div>
            </div>
            <button type="button" onclick="addPasso()" class="add-passo cursor"">Adicionar novo passo</button>

            <h4>Informações adicionais</h4>
            <input type="text" name="information[]" style="height: 257px"value=""/><br>

            <input type="hidden" name="id" value='{{recipe.id}}'>
        </form>

    </div>
</section>
<script src="/scripts.js"></script>
{% endblock %}
